[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesComm"]
	path = BayesComm
	url = https://github.com/goldingn/bayescomm
[submodule "default"]
	path = default
	url = https://github.com/goldingn/default
[submodule "pop"]
	path = pop
	url = https://github.com/goldingn/pop
[submodule "versions"]
	path = versions
	url = https://github.com/goldingn/versions
