[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "versions"]
	path = versions
	url = https://github.com/goldingn/versions
	shallow = true
	registered = true
